test_code/
spark-sql-kafka-0-10_2.12-3.3.1.jar
settings.ini
read_flow.md
postgresql-42.2.20.jar
grafana-enterprise-9.5.2.darwin-amd64.tar.gz
grafana-9.5.2/
.ipynb_checkpoints/
.env
consumer_kafka.py
data/
Create_table_buildings_households.py